*{
    margin: 0px auto;
    padding: 0px;
}
.wrapper{
    height: 768px;;
    width:  1366px ;
    background-color: #61acee;
}
.header{
    font-size: 20px;
    height: 10%;
    width: 1366px;
}
.slider{
    height: 80%;
    width: 1366px;
}
.custom-hr {
    border: none;
    border-top: 5px dotted #fff; 
    width: 100%; 
}
.slider-l{
    height: 100%;
    width: 50%;
    float: left;
}
.slider-r{
    height: 100%;
    width: 50%;
    float: right;
}
.menu-top{
    height:40%;
    width: 100%;
}
.texthear{
    color: white;
    font-size: 27px;
    line-height: 75px;
    padding-left: 20px;
    padding-right: 40px;
    float: left;
}
.tieude{
    color: white;
    font-size: 40px;
    line-height: 75px;
    padding-right: 30px;
    float: right;
    text-shadow: 2px 2px 4px #0000cc,2px 2px 6px #ffffff; 
}
.m-t{
    font-size: 35px;
    padding-left: 10px;
    color: white;
    float: left;
    margin-top: 60px;
    margin-bottom: 30px;
   
}
p{
    width: 90%;
    font-size: 20px;
    color: white;
    float: left;
    margin-left: 10px;
}
.menu-b-l{
    margin-left: 50px;
   
    height: 100%;
    width: 30%;
   
    float: left;
}
.t{
    margin-bottom: 5px;
    font-size: 19px;
    color: white;
    margin-top: 3px;
    float: left;
   
    width: 100%;
    float: left;
    
}
.menu-b-r{
    margin-left: 20px;
    margin-right: 50px;
   
    height: 100%;
    width: 30%;
    
    float: left
}
select{
    font-size: 20px;
    color: silver;
    border-radius: 5px;
    border: 1px solid black;
}
input[type=text] {
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 15px;
    width: 245px;
    height: 25px;
    color: silver;
  
    border-radius: 5px;
    border: 1px solid black;
}
input[type=submit] {
    box-sizing: border-box;
    margin-top: 5px;
    font-size: 20px;
    color: silver;
    border-radius: 5px;
    border: 1px solid black;
}
textarea{
    box-sizing: border-box;
    width: 245px;
    height: 100px;
    margin-top: 5px;
    font-size: 15px;
    color: silver;
    border-radius: 5px;
    border: 1px solid black;
}
input[type=submit] {
    width: 70px;
    height: 35px;
    margin-top: 5px;
    font-size: 17px;
    color:silver;
    border-radius: 5px;
    border: 2px solid black;
    border-style:dashed;
}
.button{
    width: 70px;
    height: 35px;
    margin-top: 5px;
    font-size: 17px;
    color: silver;
    border-radius: 5px;
    border: 2px solid black;
    border-style:dashed;
}
.anh{
    width: 90%;
    height:auto;
    margin-top: 50px;
}
.l-t{
    font-size: 50px;
    padding-left: 10px;
    color: blue;
    float: left;
    width: 100%;
    margin-top: 30px;
    padding-left: 50px;
    text-shadow: 7px 4px 3px #0000cc;
}
